@charset "UTF-8";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
}
img {
	display: block;
}
body {
	font: 14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	
	-webkit-touch-callout: none;
	
	-webkit-user-select: none;
	
	-webkit-text-size-adjust: 100%;
	
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}
/*  ===typography=== */
/*a {
	text-decoration:none; 
	outline: 0;
}*/

ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
fieldset,
img {
	border: none;
}
/*  ===form=== */

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	vertical-align: middle;
	-webkit-user-select: auto;
}
textarea {
	resize: none;
	overflow: auto;
	vertical-align: top;
}
[hidden] {
	display: none;
}
/*  ===table=== */

table {
	border-collapse: collapse;
	border-spacing: 0;
}
i{
    font-style: normal;
}
input,
textarea {
	-webkit-appearance: none;
	border-radius: 0;
	outline:none;
}

select{
	outline:none;
}


.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.clear {
	clear: both;
	height: 0;
	font: 0/0 Arial;
	visibility: hidden;
	line-height: 0;
}
a {
	text-decoration: none;
	outline: 0;
	_blr: expression(this.onFocus=this.blur())
}
a:hover {
	text-decoration: none;
}
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}


.hide{
	display: none;
}

body{
    background: #026EB7;
    font-family: "微软雅黑";
}

.reg-info h1{
    color: #FFF114;
    text-align: center;
    min-height: 45px;
    font: bold 28px/45px "微软雅黑";
    padding:30px 25px 35px 25px;
    background: url(../images/t_bg.png) no-repeat center bottom;
    background-size: 140px 28px;
    position: relative;
}




.reg-info h1 ul li:first-child{
    border: 1px solid #8F8E3C;
    color: #938E30;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #0465B6;
    font-size: 22px;
    position: relative;
    z-index: 10;
}
.reg-info h1 ul li:last-child{
    border: 1px solid #266D5D;
    color: #938E30;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    background-color: #FFF000;
    color: #0465B6;
    font-size: 20px;
    margin-top: -5px;
    position: relative;
    z-index: 1;
    font-weight: normal;
}



.reg-info dl.r,.reg-info dl.i{
    padding: 10px 30px;
}
.reg-info dl.r{
    padding-top: 30px;
}
.reg-info dl.r dt{
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
}
.reg-info dl.r dd{
    padding-bottom: 10px;
    height: 35px;
}
.reg-info dl.r dd input{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0 none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
}
.reg-info dl.r dt.submit{
    height: 38px;
    padding-top: 15px;
}
.reg-info dl.r dt.submit a{
    display: block;
    height: 38px;
    line-height: 38px;
    width: 80px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #FFF000;
    color: #000;
    text-align: center;
}
img.l,img.r{
    position: fixed;
}
img.l{
    left: 20px;
    bottom: 80px;
}
img.r{
    right: 20px;
    bottom: 30px;
}
img.e{
    margin: 15px 0 0 30px;
}
.reg-info dl.i dt,
.reg-info dl.i dd{
    display: inline-block;
    height: 40px;
    line-height: 40px;
}
.reg-info dl.i dt{
    width: 89px;
    text-align: center;
    float: left;
    border-right: 1px solid #8E8E8E;
}
.reg-info dl.i dd{
    display: block;
    text-indent: 10px;
    margin-left: 90px;
}
.reg-info dl.i dt:nth-of-type(2n+1),.reg-info dl.i dd:nth-of-type(2n+1){
    background-color: #eee;
    border-bottom: 1px solid #676B6E;
}
.reg-info dl.i dt:nth-of-type(2n+1){
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.reg-info dl.i dd:nth-of-type(2n+1){
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.reg-info dl.i dt:nth-of-type(2n),.reg-info dl.i dd:nth-of-type(2n){
    background-color: #fff;
    border-bottom: 1px solid #676B6E;
}
.reg-info dl.i dt:nth-of-type(2n){
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.reg-info dl.i dd:nth-of-type(2n){
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

@media screen and (max-width: 320px) {
    .reg-info h1{
        font-size: 26px;
    }
}
@media screen and (min-width: 375px) {
    .reg-info dl.r{
        padding-top: 70px;
    }
}
